MiniEcs.Tests/.idea/.idea.MiniEcs.Tests/.idea/
MiniEcs.Tests/.idea/.idea.MiniEcs.Tests/
MiniEcs.Tests/bin
MiniEcs.Tests/obj/
MiniEcs.Tests/report
MiniEcs/.idea
MiniEcs/bin
MiniEcs/obj
MiniEcs.Tests/coverage.opencover.xml
.DS_Store
MiniEcs.Benchmark/.idea
MiniEcs.Benchmark/BenchmarkDotNet.Artifacts
MiniEcs.Benchmark/Entitas
MiniEcs.Benchmark/bin
MiniEcs.Benchmark/obj
MiniEcs.Benchmark/LeoECS
MiniEcs.Benchmark/Svelto.Common
MiniEcs.Benchmark/Svelto.ECS
MiniEcs/BinarySerializer/.idea/
